video{
    object-fit: cover;
    width:100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.viewport-header{
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
    flex-direction: column;
}
.hero-logo{
display: flex;
flex-direction: row;
width: 20rem;
}
h1{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Syncopate', sans-serif;
}
span {
    display: block;
    font-size: 10vw;
    letter-spacing: -1.0vw;
  }