video{
    object-fit: cover;
    width:100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.viewport-header{
    position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header{
    width: 100vw;
    height: 75vh;
}
h1{
    font-weight: bolder;
    font-family: 'Cantarell', sans-serif;
   color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 10vw;
  text-align: center;
  padding: none;
  margin-bottom: none;
}
span {
    display: block;
    font-size: 5vw;
    letter-spacing: -0.75vw;
  }
  
.hero-logo{
    padding-top:none;
display: block;
width: 20rem;
}